# Cleaning Graybook.CSV

In [1]:
import pandas as pd 
df = pd.read_csv('graybook-sp23.csv')
df

,Employee Name,Job Title,Tenure,Empl Class,Present FTE,Proposed FTE,Present Salary,Proposed Salary,College Code,College Name,Department Code,Department Name
0,"Gerstenecker, David G",DIR OF INFO TECHNOL,NaN,BA,1.0,1.0,106476.00,109670.28,KL,"Agr, Consumer & Env Sciences",348,ACES Technology Services
1,"Henry, Joshua Keith",ASSOC DIR INFO TECHNOL,NaN,BA,1.0,1.0,80871.33,83701.83,KL,"Agr, Consumer & Env Sciences",348,ACES Technology Services
2,"Meyer, Donald L",SR NETWORK ANLYS,NaN,BA,1.0,1.0,89558.22,92692.76,KL,"Agr, Consumer & Env Sciences",348,ACES Technology Services
3,"Schwartz, Sarah",COMM COORD,NaN,BA,1.0,1.0,50000.00,51750.00,KL,"Agr, Consumer & Env Sciences",521,ADM Institute for PHL
4,"Winter-Nelson, Alex E","DIR, ADMI",NaN,BA,0.0,0.0,15000.00,15000.00,KL,"Agr, Consumer & Env Sciences",521,ADM Institute for PHL
...,...,...,...,...,...,...,...,...,...,...,...,...
14566,"Guerra Perez, Gioconda",EXEC ASSOC VC FOR DVSTY,NaN,BA,1.0,1.0,178500.00,187250.00,NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity
14567,"Rand, Jacki Thompson",ASSOC VC NATIVE AFFAIRS,NaN,BA,0.0,0.0,47600.00,47600.00,NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity
14568,"Rand, Jacki Thompson",Employee Total for All Jobs,NaN,NaN,1.0,1.0,152600.00,156275.00,NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity
14569,"VanDuyne, Adam Jareb",EXEC DIR FIN & ADMN,NaN,BA,1.0,1.0,141000.00,147200.00,NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity
14570,"Wantland, Ross A",DIR OF CURR DEVL & EDUC,NaN,BA,1.0,1.0,94860.00,98860.00,NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity

In [2]:
# Get a list of all the columns in the DataFrame
cols = list(df.columns)

# Create a new DataFrame to store the aggregated data
agg_df = pd.DataFrame(columns=cols + ["Job Titles", "Employee Classes"])

# Loop over the unique values of the "Employee Name" column
for name in df["Employee Name"].unique():
    # Filter out the rows for the current name
    name_df = df[df["Employee Name"] == name]
    
    # Get the row w/ Job Total
    total_row = name_df[name_df["Job Title"] == "Employee Total for All Jobs"]
    
    # Use Job Total Row if exists
    if not total_row.empty:
        row = total_row.iloc[0]
    else:
        # If not, use the values from the first row
        row = name_df.iloc[0]
    
    # Get the job titles and employee classes for the current name
    job_titles = list(name_df[name_df["Job Title"] != "Employee Total for All Jobs"]["Job Title"])
    employee_classes = list(name_df[name_df["Job Title"] != "Employee Total for All Jobs"]["Empl Class"])
    
    # Append the aggregated data for the current name to the agg_df DataFrame
    new_row = pd.Series(list(row) + [job_titles, employee_classes], index=cols + ["Job Titles", "Employee Classes"])
    agg_df = agg_df.append(new_row, ignore_index=True)

In [3]:
agg_df

,Employee Name,Job Title,Tenure,Empl Class,Present FTE,Proposed FTE,Present Salary,Proposed Salary,College Code,College Name,Department Code,Department Name,Job Titles,Employee Classes
0,"Gerstenecker, David G",DIR OF INFO TECHNOL,NaN,BA,1.0,1.0,106476.00,109670.28,KL,"Agr, Consumer & Env Sciences",348,ACES Technology Services,[DIR OF INFO TECHNOL],[BA]
1,"Henry, Joshua Keith",ASSOC DIR INFO TECHNOL,NaN,BA,1.0,1.0,80871.33,83701.83,KL,"Agr, Consumer & Env Sciences",348,ACES Technology Services,[ASSOC DIR INFO TECHNOL],[BA]
2,"Meyer, Donald L",SR NETWORK ANLYS,NaN,BA,1.0,1.0,89558.22,92692.76,KL,"Agr, Consumer & Env Sciences",348,ACES Technology Services,[SR NETWORK ANLYS],[BA]
3,"Schwartz, Sarah",COMM COORD,NaN,BA,1.0,1.0,50000.00,51750.00,KL,"Agr, Consumer & Env Sciences",521,ADM Institute for PHL,[COMM COORD],[BA]
4,"Winter-Nelson, Alex E",Employee Total for All Jobs,NaN,NaN,1.0,1.0,186666.00,193532.64,KL,"Agr, Consumer & Env Sciences",521,ADM Institute for PHL,"[DIR, ADMI, PROF, ASSOC DEAN FOR INATL PRGMS, ...","[BA, AA, BA, AA, AA]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6212,"Chambers, Sonya L",EXEC DIR STRATG INITIATIVES,NaN,BA,1.0,1.0,163200.00,169500.00,NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity,[EXEC DIR STRATG INITIATIVES],[BA]
6213,"Garrick, Sean C",Employee Total for All Jobs,NaN,NaN,1.0,1.0,338248.98,351778.94,NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity,"[VC FOR DVSTY, EQUITY & INCL, VC FOR DVSTY, EQ...","[BA, BA]"
6214,"Guerra Perez, Gioconda",EXEC ASSOC VC FOR DVSTY,NaN,BA,1.0,1.0,178500.00,187250.00,NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity,[EXEC ASSOC VC FOR DVSTY],[BA]
6215,"VanDuyne, Adam Jareb",EXEC DIR FIN & ADMN,NaN,BA,1.0,1.0,141000.00,147200.00,NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity,[EXEC DIR FIN & ADMN],[BA]
6216,"Wantland, Ross A",DIR OF CURR DEVL & EDUC,NaN,BA,1.0,1.0,94860.00,98860.00,NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity,[DIR OF CURR DEVL & EDUC],[BA]

In [10]:
for i, row in agg_df.iterrows():
    # Replace the "Job Title" column with the first item of the list in the "Job Titles" column
    agg_df.at[i, "Job Title"] = row["Job Titles"][0]
    # Remove duplicates in the "Job Titles" column
    agg_df.at[i, "Job Titles"] = list(set(row["Job Titles"]))
    # Remove duplicates in the "Employee Classes" column
    agg_df.at[i, "Employee Classes"] = list(set(row["Employee Classes"]))
    
agg_df

,Employee Name,Job Title,Tenure,Empl Class,Present FTE,Proposed FTE,Present Salary,Proposed Salary,College Code,College Name,Department Code,Department Name,Job Titles,Employee Classes
0,"Gerstenecker, David G",DIR OF INFO TECHNOL,NaN,BA,1.0,1.0,106476.00,109670.28,KL,"Agr, Consumer & Env Sciences",348,ACES Technology Services,[DIR OF INFO TECHNOL],[BA]
1,"Henry, Joshua Keith",ASSOC DIR INFO TECHNOL,NaN,BA,1.0,1.0,80871.33,83701.83,KL,"Agr, Consumer & Env Sciences",348,ACES Technology Services,[ASSOC DIR INFO TECHNOL],[BA]
2,"Meyer, Donald L",SR NETWORK ANLYS,NaN,BA,1.0,1.0,89558.22,92692.76,KL,"Agr, Consumer & Env Sciences",348,ACES Technology Services,[SR NETWORK ANLYS],[BA]
3,"Schwartz, Sarah",COMM COORD,NaN,BA,1.0,1.0,50000.00,51750.00,KL,"Agr, Consumer & Env Sciences",521,ADM Institute for PHL,[COMM COORD],[BA]
4,"Winter-Nelson, Alex E",ASSOC DEAN FOR INATL PRGMS,NaN,NaN,1.0,1.0,186666.00,193532.64,KL,"Agr, Consumer & Env Sciences",521,ADM Institute for PHL,"[ASSOC DEAN FOR INATL PRGMS, PROF, DIR, ADMI]","[BA, AA]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6212,"Chambers, Sonya L",EXEC DIR STRATG INITIATIVES,NaN,BA,1.0,1.0,163200.00,169500.00,NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity,[EXEC DIR STRATG INITIATIVES],[BA]
6213,"Garrick, Sean C","VC FOR DVSTY, EQUITY & INCL",NaN,NaN,1.0,1.0,338248.98,351778.94,NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity,"[VC FOR DVSTY, EQUITY & INCL]",[BA]
6214,"Guerra Perez, Gioconda",EXEC ASSOC VC FOR DVSTY,NaN,BA,1.0,1.0,178500.00,187250.00,NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity,[EXEC ASSOC VC FOR DVSTY],[BA]
6215,"VanDuyne, Adam Jareb",EXEC DIR FIN & ADMN,NaN,BA,1.0,1.0,141000.00,147200.00,NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity,[EXEC DIR FIN & ADMN],[BA]
6216,"Wantland, Ross A",DIR OF CURR DEVL & EDUC,NaN,BA,1.0,1.0,94860.00,98860.00,NV,Vice Chancellor for Diversity,594,Vice Chancellor for Diversity,[DIR OF CURR DEVL & EDUC],[BA]

In [6]:
# Removing Department of Collegiate Athletics to reduce outliers
agg_df = agg_df[agg_df['Department Code'] != 336]
agg_df

agg_df.to_csv('graybook-clean-sp23.csv', index=False)

## Creating STAT_CS_Gender:

In [20]:
df_CS = agg_df[agg_df['Department Name'] == 'Computer Science']
df_STAT = agg_df[agg_df['Department Name'] == 'Statistics']

df_STAT_CS = pd.concat([df_CS, df_STAT], ignore_index=True)

In [21]:
df_STAT_CS = df_STAT_CS.drop('Job Titles', axis=1)
df_STAT_CS = df_STAT_CS.drop('Employee Classes', axis=1)
df_STAT_CS

,Employee Name,Job Title,Tenure,Empl Class,Present FTE,Proposed FTE,Present Salary,Proposed Salary,College Code,College Name,Department Code,Department Name
0,"Abdelzaher, Tarek","PROF, CSL",NaN,NaN,1.0,1.0,208154.00,217521.00,KP,Grainger Engineering,434,Computer Science
1,"Adve, Sarita V","PROF, CSL",NaN,NaN,1.0,1.0,218504.00,230000.00,KP,Grainger Engineering,434,Computer Science
2,"Adve, Vikram Sadanand","PROF, CSL",NaN,NaN,1.0,1.0,218462.00,230000.00,KP,Grainger Engineering,434,Computer Science
3,"Alawini, Abdussalam Alhadi M",TCH ASST PROF,M,AA,1.0,1.0,105575.00,110326.00,KP,Grainger Engineering,434,Computer Science
4,"Amato, Nancy Marie",PROF,NaN,NaN,1.0,1.0,272500.00,289238.00,KP,Grainger Engineering,434,Computer Science
...,...,...,...,...,...,...,...,...,...,...,...,...
178,"Stepanov, Alexey G",SR LECTURER,NaN,AA,1.0,1.0,94174.57,100004.19,KV,Liberal Arts & Sciences,583,Statistics
179,"Unger, David",SR INSTR,NaN,NaN,1.0,1.0,114337.97,117989.80,KV,Liberal Arts & Sciences,583,Statistics
180,"Wang, Shulei",ASST PROF,NaN,NaN,1.0,1.0,107100.00,111348.50,KV,Liberal Arts & Sciences,583,Statistics
181,"Yang, Yun",ASSOC PROF,A,AA,1.0,1.0,106590.00,119120.65,KV,Liberal Arts & Sciences,583,Statistics
182,"Yu, Albert",INSTR,NaN,AA,1.0,1.0,66585.60,69516.10,KV,Liberal Arts & Sciences,583,Statistics

In [22]:
df_STAT_CS.to_csv('STAT_CS_Gender-SP23.csv', index=False)